body::before {
  display: block;
  content: '';
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.size span {
  font-size: 11px
}

.color span {
  font-size: 11px
}

.product-deta {
  margin-right: 70px
}

.gift-card:focus {
  box-shadow: none
}

.pay-button {
  color: #fff
}

.pay-button:hover {
  color: #fff
}

.pay-button:focus {
  color: #fff;
  box-shadow: none
}

.text-grey {
  color: #a39f9f
}

.qty i {
  font-size: 11px
}


.btn-qty:hover{
  color:rgb(22, 155, 22);
  cursor:pointer;
}

.btn-supp:hover{
  cursor:pointer;
  transition : opacity 250ms ease;
  opacity : 0.5;
}

input:invalid {
  border: rgba(255, 0, 0, 0.397) solid 3px;
}
